<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>How can we help you?</h2>

  <ion-button expand="block" color="danger" (click)="goToBug()">
    🐞 I found a bug
  </ion-button>

  <ion-button expand="block" color="primary" (click)="goToContact()">
    ✉️ Contact Support
  </ion-button>
</ion-content>
