<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome To The Aughawillan App</ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="login-list">
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input
          formControlName="name"
          type="text"
          placeholder="Your full name">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="you@example.com">
      </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="••••••••">
      </ion-input>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="loginForm.invalid"
      class="login-button"
      [routerLink]="['/home']">
      Log In
    </ion-button>
  </form>
</ion-content>
