<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <!-- [value] + (ionInput) binding avoids the need for ngModel -->
    <ion-input
      [value]="name"
      (ionInput)="name = $event.detail.value!">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input
      type="email"
      [value]="email"
      (ionInput)="email = $event.detail.value!">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      type="password"
      [value]="password"
      (ionInput)="password = $event.detail.value!">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="goToHome()">
    Continue
  </ion-button>
</ion-content>