.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    height: auto;
  }
  .custom-header {
    --background: blue;
  }
  .custom-background
  {
    --background: yellow;
  }