.custom-header {
    --background: blue;
  }
  
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures the footer is pushed to the bottom */
    height: 100%; /* Make the content fill the height of the viewport */
  }
  
  .footer-class
  {
    --background:blue;
    margin-top: auto;
  }
  .custom-mainbody
  {
    --background: yellow;
  }