.custom-header {
    --background: blue;
  }
  
  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
  }
  
  .footer-class
  {
    --background:blue;
    margin-top: auto;
  }
  .custom-mainbody
  {
    --background: yellow;
  }