:host {
    ion-content.profile-content {
      padding: 2rem;
  
      ion-item {
        margin-bottom: 0.75rem;
      }
  
      ion-button {
        margin-bottom: 1.5rem;
        --border-radius: 10px;
        font-weight: bold;
      }
    }
  }
  