<ion-header>
  <ion-toolbar>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-text-center ion-margin-vertical">
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" 
                  style="padding: 20px; background-color: #007bff; color: white; font-weight: bold; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);" 
                  [routerLink]="['/change-name']" fill="clear">
        Click here to change your information
      </ion-button>
    </ion-col>

    <ion-col size="12" class="ion-margin-top">
      <ion-button expand="block" 
                  style="padding: 20px; background-color: #007bff; color: white; font-weight: bold; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);" 
                  [routerLink]="['/support']" fill="clear">
        Support
      </ion-button>
    </ion-col>

    <ion-col size="12" class="ion-margin-top">
      <ion-button expand="block" 
                  style="padding: 20px; background-color: #007bff; color: white; font-weight: bold; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);" 
                  fill="clear"
                  [routerLink]="['/app-mode']">
        Click here for the fixtures in Leitrim for the next 10 days
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
